html{
    margin:0;
    padding:0;
}
body{
    min-height: 100%;
    background-color: #FD940A;
    background-image: radial-gradient(circle, #F9A72B 0%, #FA9026 70%, #FB6C1F 100%);
}
.game{
    z-index:5 !important;
    width:480px;
    height:320px;
    margin:200px auto;
}

.game #hearts{
    z-index:6 !important;
    height:30px;
    width:90px;
    background-image: url("../img/heart3.png");
    float:right;
}
canvas {
    z-index:7 !important;
    border:1px solid black;
    background: #eee;
    }

    