* { 
    margin:0;
    padding:0; 
}

html{ 
    width:100%; 
    height:100%;
    user-select: none;
}

body{
    background:url("../img/background.jpg");
    background-size:cover;
    overflow:hidden;	
    cursor: url("../img/cursor.png"), pointer;
}

canvas{ 
    margin-left: 50px;
    border: 1px solid black;
    border-radius:1em;
	background-color: rgb(255, 248, 232);
    
}

.container{
    position: absolute;
    max-width:100% !important;
    max-height:100%;
    height:100%;
}
.navbar{
    cursor:default !important;
}

.card{
    cursor:default !important;
    box-shadow: 5px 5px 5px rgb(54, 54, 54);
    max-height:100%;
    max-width:90%;
    width:90%;
    height:1080px;
    margin-top:-7em;
    margin-right:-25px;
    float: right;
}
.custom-control-label:hover{
    font-size:1.1em;
    cursor:pointer;
}
.card-header, .card-body{
    border-radius:1em !important;
}

.dropdown-menu{
	background-color: transparent;
	min-width: 20rem;
    border: 1px solid transparent;
    border-radius:1em;
}

.fixed-top {
    position: inherit;
}

.dropitem{
    color: rgba(255,255,255,0.6);
}

.dropitem:hover{
    color: rgba(255,255,255,1.0);
}
.row{
	padding-top: 12em;
}

.navbar-toggler {
    display: none;
}

.form-group {
    margin-top: 1em;
}

.swal-modal .swal-text {
    text-align: center;
}




@media only screen and (max-width: 990px) {
    .card{
        width:10em;
        margin-left:2em;
    }
  }

@media only screen and (max-width: 765px) {
    html{
        overflow-y:scroll;
    }
    .card{
        width:20em;
        margin-top:2em;
        margin-left:10em;
    }
  }